{% extends 'store/layouts/main.html' %}
{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{ category_name.name }}</h1>
                <hr>
                <div class="row" style="background-color: #FFDAB9; width: 100%; height: 100vh; margin: 3mm; padding: 3mm;" >
                    {% for item in products %}
                        <div class="col-md-3" style="transform: scale(0.8);">
                            <div style="border-radius: 8%; overflow: hidden;">
                                <div class="card">
                                    <a href="{% url 'productview' item.category.slug item.slug %}">
                                        <div class="card-body">
                                            <div class="category-image">
                                                <img src="{{ item.product_image.url }}" alt="Product image" class="w-100">
                                            </div>
                                            <h4 class="text-center"></h4>
                                            <span class="text-center d-block mx-auto selling-price text-dark font-weight-bold" style="font-size: 30px; text-decoration: none;">Selling Price: {{ item.selling_price|stringformat:'d' }}</span>
                                            <hr>
                                            <span class="text-center d-block mx-auto selling-price text-dark font-weight-bold" style="font-size: 30px; text-decoration: none;">Original Price: {{ item.original_price|stringformat:'d' }}</span>
                                                                                      
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
